<?xml version="1.0" ?>
<config>
    <modules>
        <Tenbucks_Connect>
            <version>1.0.0</version>
        </Tenbucks_Connect>
    </modules>
    <global>
        <blocks>
            <tenbucks_connect>
                <class>Tenbucks_Connect_Block</class>
            </tenbucks_connect>
        </blocks>
        <helpers>
            <tenbucks_connect>
                <class>Tenbucks_Connect_Helper</class>
            </tenbucks_connect>
        </helpers>
        <models>
            <tenbucks_connect>
                <class>Tenbucks_Connect_Model</class>
            </tenbucks_connect>
        </models>
        <resources>
            <tenbucks_connect_setup>
                <setup>
                    <module>Tenbucks_Connect</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tenbucks_connect_setup>
            <tenbucks_connect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tenbucks_connect_write>
            <tenbucks_connect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tenbucks_connect_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tenbucks_Connect after="Mage_Adminhtml">Tenbucks_Connect</Tenbucks_Connect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_tenbucks_connect>
                <observers>
                    <tenbucks_connect_admin_system_config_changed_section>
                        <class>tenbucks_connect/observer</class>
                        <type>singleton</type>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </tenbucks_connect_admin_system_config_changed_section>
                </observers>
            </admin_system_config_changed_section_tenbucks_connect>
            <catalog_product_save_after>
                <observers>
                    <tenbucks_connect_catalog_product_save_after>
                        <class>tenbucks_connect/observer</class>
                        <type>singleton</type>                        
                        <method>handle_catalogProductSaveAfter</method>
                    </tenbucks_connect_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <tenbucks_connect>
                    <files>
                        <default>Tenbucks_Connect.csv</default>
                    </files>
                </tenbucks_connect>
            </modules>
        </translate>
        <layout>
            <updates>
                <tenbucks_connect>
                    <file>tenbucks_connect.xml</file>
                </tenbucks_connect>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <tenbucks_connect>
            <general>
                <enable>0</enable>
                <gtin>sku</gtin>
            </general>
        </tenbucks_connect>
    </default>
</config>